<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="datasource" class="br.veq.beans.FileDatasource" lazy-init="true">
		<property name="file" value="/arquivos/people.csv" />
	</bean>
	<bean id="printer" class="br.veq.beans.PrinterImpl" scope="prototype"/>
	<bean id="processor" class="br.veq.beans.Processor" scope="prototype">
		<!-- constructor injection -->
		<constructor-arg ref="datasource" index="0"/>
		<constructor-arg ref="printer" index="1"/>
		<!-- setter injection -->
		<property name="printer" ref="printer" />
		<!-- <property name="datasource" ref="datasource" /> -->
	</bean>
	<bean id="lazyBean" class="br.veq.beans.LazyBean" lazy-init="true"/>
	<bean id="initMethod" class="br.veq.beans.InitMethod" lazy-init="true" init-method="init"/>
</beans>
